@import "colors";

.received_order {
  background-color: $order-status-received-color;
}

.processing_order {
  background-color: $order-status-processing-color;
}

.shipped_order {
  background-color: $order-status-shipped-color;
}
