$white:#fff;
$background-color: #f2f2f6;
$action-color: #ff596f;
$action-hover-color:#f3556c;
$container-color: white;
$whatsapp-green-color: #6dab3c;
$order-status-received-color: #9eb4cc;
$order-status-processing-color: #ebe306;
$order-status-shipped-color:#19925b;
