h4 {
  font-weight: 600;
  font-size: 1.5rem;
}

.c-text-bold {
  font-weight: 600;
}

.c-label {
  font-size: 1rem;
  font-weight: 600;
}

.c-text-muted {
  color: #ccc;
}

.c-text-sm {
  font-size: 0.8rem;
}

.c-text-xs {
  font-size: 0.4rem;
}

.c-link-text {
  color: blue;
  text-decoration: underline;
  font-weight: 400;
  cursor: pointer;
}

//direction
.c-text-right {
  text-align: right;
}