@import './colors.scss';

body {
  background: $background-color;
  font-family: Montserrat, -apple-system, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #40354e;
}

// LAYOUT

.c-body-layout {
  margin: 0.25rem 1.25rem 1.25rem;
}

.c-container {
  background-color: $container-color;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  max-width: 1080px;

}

.c-flex {
  display: flex;
}

.c-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-full-width {
  width: 100%;
}

.c-no-padding {
  padding: 0 !important;
}


.c-action-button {
  background-color: $action-color;
  border-color: $action-color;

  &:hover {
    background-color: $action-hover-color;
    border-color: $action-color;
  }
}

.c-category-container {
  display: flex;
  flex-wrap: wrap;
}

.c-category-product {
  padding: 0.5rem;
}

//IMAGES

.c-thumbnail {
  max-width: 100%;

  &--big{
    @extend .c-thumbnail;
    height: 30rem;
  }
}

.c-whatsapp {
  background-color: $whatsapp-green-color;
  color: white;
  font-size: large;
  border-radius: 0.25rem;
  padding: 1rem;
  text-align: center;
}
