@import './colors.scss';

body {
  background: $background-color;
  font-family: Montserrat, -apple-system, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #40354e;
}

// LAYOUT

.c-container {
  margin: 0.25rem;
  background-color: $container-color;
  padding: 1rem;
  border-radius: .25rem;
  border: 1px solid rgba(0,0,0,.125);
}

.c-flex {
  display: flex;
}

.c-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-full-width {
  width: 100%
}

.c-no-padding {
  padding: 0 !important
}

//TEXT
h4 {
  font-weight: 600;
  font-size: 1.5rem;
}

.c-text-bold {
  font-weight: 600;
}

.c-label {
  font-size: 1rem;
  font-weight: 600;
}

.c-text-mutted {
  color: #ccc;
}

.c-text-sm {
  font-size: 0.8rem;
}

.c-action-button {
  background-color: $action-color;
  border-color: $action-color;
  &:hover {
    background-color: $action-hover-color;
    border-color: $action-color;
    
  }
}

.c-category-container {
  display: flex;
  flex-wrap: wrap;
}

.c-category-product {
  padding: 0.5rem;
}

//IMAGES

.c-thumbnail {
  max-width: 100%;
}

.c-whatsapp {
  background-color: $whatsapp-green-color;
  color: white;
  font-size: large;
  border-radius: 0.25rem;
  padding: 1rem;
  text-align: center;
}