@import './colors.scss';
@import './screen_sizes';

body {
  background: $background-color;
  font-family: Montserrat, -apple-system, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #40354e;
}

// LAYOUT
.c-lock-width {
  max-width: 1440px;
}

.c-body-layout {
  margin: 0.25rem 1.25rem 1.25rem;
  @extend .c-lock-width;

  @media (max-width: $mobile_maxWith) {
    margin: 0.25rem 0.25rem 0.25rem;
  }
}

.c-container {
  background-color: $container-color;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.c-flex {
  display: flex;
}

.c-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.c-full-width {
  width: 100%;
}

.c-no-padding {
  padding: 0 !important;
}


.c-action-button {
  background-color: $action-color;
  border-color: $action-color;

  &:hover {
    background-color: $action-hover-color;
    border-color: $action-color;
  }
}

.c-thumbnail--small {
  max-height: 14rem;
}

.c-thumbnail--big {
  max-height: 28rem;

}

.carousel-indicators li {
  background-color: black !important;
  //border-color: #E0E0E0;
}
.carousel-control-prev-icon{
  background-color: black !important;
}

.carousel-control-next-icon {
  background-color: black !important;
}

.c-whatsapp {
  background-color: $whatsapp-green-color;
  color: white;
  font-size: large;
  border-radius: 0.25rem;
  padding: 1rem;
  text-align: center;
}

.c-white-background {
  background-color: $white;
}
